@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');


/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Montserrat', sans-serif;
background-color: hsl(30, 38%, 92%);
Font-size: 14px;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container{
    margin: 15px auto;
    padding: 0 15px;
}

.grid{
max-width: 700px;
display: grid;
grid-template-columns: 1fr 1fr;
background-color: #FFF;
overflow: hidden;
border-radius: 15px;
}

.img img{
    max-width: 100%;
    display: inherit;
}

.card-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}



h6.pro-NP{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

h2.pro-name{
    font-family: 'Fraunces', serif;
    font-size: 28px;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
}

p.pro-des{
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
    font-size: 12px;

    
}


.price{
    display: flex;
    align-items: center;
}


p.current-price{
    font-family: 'Fraunces', serif;
    color:  hsl(158, 36%, 37%);
    font-size: 23px;
    padding-right: 25px;
}


p.old-price{
    color: hsl(228, 12%, 48%);
    text-decoration-line: line-through;
}


.cta{
    background-color: hsl(158, 36%, 37%);
    border: none;
    padding: 12px 0;
    border-radius: 12px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .3s ease;
    width: 100%;
    
    
}


.cta:hover{
    background: hsl(158, 36%, 23%);
}



.cta img{
    padding-right: 7px;
}


@media only screen and (max-width: 375px){
    .grid{
        grid-template-columns: 1fr;
    }

    .img img{
        max-height: 290px;
        width: 100%;
        object-fit: cover;
    }

h6.pro-NP, h2.pro-name, p.pro-des, .price{
    padding-bottom: 16px;
}
    
}




